$primary-color: #6b3428;
$accent-color: #c09287;
$warn-color: #eb7257;
$button-color: #286b53;
$background-color: #eae7e6;

body {
  font-family: "Domine";
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  margin: 20px auto;
}

label {
  font-size: 14px;
  color: $primary-color;
}
main {
  padding: 40px;
}
input {
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.navbar {
  background: linear-gradient(
    45deg,
    $primary-color,
    $accent-color,
    $primary-color
  );
  padding: 25px 40px;

  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-item {
    margin-right: 15px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  #login {
    margin-left: auto;
  }

  #logout {
    margin-left: auto;
  }
}
