$primary-color: #6b3428;
$accent-color: #c09287;
$warn-color: #eb7257;
$button-color: #286b53;
$background-color: #eae7e6;

body {
  font-family: "Domine";
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  margin: 20px auto;
}

label {
  font-size: 14px;
  color: $primary-color;
}
main {
  display: flex;
  justify-content: center;
  padding: 0px 80px;
  height: calc(100dvh - 80px);
}
input {
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.navbar {
  background: linear-gradient(
    45deg,
    $primary-color,
    $accent-color,
    $primary-color
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-wrapper {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  .nav-item {
    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }
}
