@import "../../../styles/global";
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  p {
    font-size: 18px;
  }

  h3 {
    font-size: 20px;
  }

  #cancelation-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.04);
  }

  #canecelation-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #cancelation-title {
    color: $primary-color;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }

  #cancelation-details {
    font-size: 18px;
  }

  #button-section {
    width: fit-content;
  }

  table {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.04);

    th {
      color: $primary-color;
      font-size: 20px;
      padding-bottom: 20px;
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .kp-list-element {
      background-color: white;
      border-radius: 12px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.04);
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}
