@import "../../../styles/global";

main {
  display: flex;
  flex-direction: column;

  height: auto;
  #title {
    width: 1400px;
  }
  #overview {
    width: 1400px;
    display: flex;
    gap: 10px;

    #keypoints {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .kp-container {
        border-radius: 12px;
        display: flex;
        gap: 10px;
        background-color: whitesmoke;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
          0 6px 10px 0 rgba(0, 0, 0, 0.04);

        .image-section {
          width: 40%;
          align-content: center;
          background-size: contain;
          img {
            width: 300px;
          }
        }
        .detail-section {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;

          h3 {
            margin: 0;
            color: $primary-color;
          }

          p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
          }

          a {
            text-decoration: none;
            color: $primary-color;
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            font-weight: 500;
          }
        }
      }
    }

    #tour-info {
      display: flex;
      flex-direction: column;
      border-radius: 12px;
      width: 30%;
      height: fit-content;
      gap: 15px;
      background-color: whitesmoke;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.04);
      h3,
      h4 {
        margin: 0;
      }

      h4 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 500;
      }

      p {
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 300;
      }
      .button-space {
        display: flex;
        justify-content: end;
      }
      button {
        width: fit-content;
        &:disabled {
          background: transparent;
          border: 2px solid gray;
          color: gray;
        }
      }
    }
  }
}
