@import "../../../styles/global";
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  #overview {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    width: 1240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.04);
  }
  .info-row {
    display: flex;
    gap: 20px;
  }
  #reservation-section {
    display: flex;
    width: 100%;
    gap: 40px;
  }

  #button-section {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  #reservation-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  label {
    font-weight: bold;
    margin: 0;
  }

  input {
    width: 50px;
  }

  h4 {
    margin: 0;
  }

  #input-warning {
    font-style: italic;
    color: gray;
  }

  #reserve-button:disabled {
    background-color: transparent;
    color: gray;
    border: 2px solid gray;
  }
}
