@use '../../../styles/global.scss';


a {
  text-decoration: none;
}

#main {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;

  #form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;


    input {
      padding: 5px;
      border: 1px solid gray;
    }

    label {
      color: black;
    }
  }
}

#active-meals {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1400px;
}

.meal-container {
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  gap:10px;
}

.image-section {
  width: 30%;
  display: flex;

  img {
    width: 100%;
  }
}

.detail-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-end;
  padding: 10px;

  button {
    width: fit-content;
  }
}

#publish:enabled {
  margin: 100px;
}

#publish:disabled {
  margin: 100px;
  background-color: grey;
}

.hidden {
  display: none;
}