@import "./styles/global";
main {
  padding: 20px 0;
}
#hero-section-tourists {
  position: relative;
  display: flex;
  width: 1400px;
  height: 100%;
  justify-content: space-between;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    color: $primary-color;
    h2 {
      width: 85%;
      font-size: 64px;
      font-weight: normal;
      margin: 0;
      span {
        color: $accent-color;
      }
    }
    p {
      margin: 0;
      font-size: 28px;
      width: 85%;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 200;
    }
    .button-section {
      display: flex;
      gap: 20px;

      button {
        font-size: 18px;
        font-weight: 600;
        background-color: transparent;
        border: 3px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 20px;
    .first-image {
      display: flex;
      width: 100%;
      justify-content: center;
      img {
        border-radius: 12px;
      }
    }
    .second-image {
      display: flex;
      width: 100%;
      justify-content: end;
      img {
        border-radius: 12px;
      }
    }
  }
}

#hero-section-tourists::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../public/images/okvir.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  pointer-events: none;
}
#hero-section-tourists .text-container,
#hero-section-tourists .image-container {
  position: relative;
  z-index: 2;
}
