@import "../../../styles/global";

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  h2 {
    margin: 0;
    padding-top: 20px;
  }
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1400px;
  }

  table {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.04);
    width: 100%;
    thead {
      width: 100%;
      display: flex;
    }

    th {
      color: $primary-color;
      font-size: 20px;
      padding-bottom: 20px;
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 20px;

      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
          0 6px 10px 0 rgba(0, 0, 0, 0.04);
        background-color: white;
        border-radius: 12px;
        padding: 15px 20px;
      }

      td {
        width: 25%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
