@import "../../../styles/global";
@import "../../../styles/global";
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  section {
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }

  h2 {
    margin: 0;
    padding-top: 20px;
  }

  h3,
  h4 {
    margin: 0;
  }

  h4 {
    font-weight: normal;
  }

  #rate-section {
    padding-bottom: 20px;
  }
  #button-section {
    width: fit-content;
  }

  select,
  textarea {
    padding: 5px;
    border-radius: 6px;
    max-width: 400px;

    button:disabled {
      background-color: transparent;
      color: gray;
      border: 2px solid gray;
    }
  }

  table {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.04);

    th {
      color: $primary-color;
      font-size: 20px;
      padding-bottom: 20px;
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .kp-list-element {
      background-color: white;
      border-radius: 12px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.04);
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }

  #tour-reviews {
    max-width: 1400px;
    padding: 20px 0;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.04);

    .review-item {
      background-color: white;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 350px;
      border-radius: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.04);

      .review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .review-date {
        text-align: end;
        font-weight: bold;
        font-size: 12px;
      }

      .review-rating {
        margin-bottom: 10px;
      }
    }
  }

  #average {
    text-align: end;
    flex-direction: row;
    justify-content: end;

    .avg-grade {
      background-color: white;
      display: flex;
      width: fit-content;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.04);
      p {
        font-size: 36px;
        font-weight: bold;
      }
    }
  }
}
