@import "../../../styles/global";

main {
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  #info {
    padding: 20px 0;
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 32px;
      font-weight: normal;
      margin: 0;
      color: $primary-color;
    }
    p {
      margin: 0;
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 300;
    }
  }

  #tour-overview {
    width: 1400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    #tours {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 1400px;
    }
    .tour-item {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      gap: 20px;
      background-color: whitesmoke;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
        0 6px 10px 0 rgba(0, 0, 0, 0.04);
    }

    .image-section {
      align-content: center;
      width: 30%;
      img {
        width: 100%;
      }
    }

    .detail-section {
      width: 60%;
    }

    #filters {
      ul {
        width: 100%;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: end;
        gap: 20px;
        li {
          label {
            font-size: 18px;
          }
          select {
            font-size: 16px;
            border-radius: 6px;
            padding: 3px;
          }
        }
      }
    }

    #pagination {
      button {
        background-color: transparent;
        color: $primary-color;
        font-weight: bold;
        &:disabled {
          color: gray;
        }
      }
    }
  }
}
